.home-title-div {
}

.home-title {
  padding: 24px;
}
.nav {
  padding-left: 24px;
}

.question-list {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
}

.list-item {
  border: solid black 1px;
  margin-top: 14px;
  margin-right: 28px;
  margin-bottom: 14px;
  padding: 40px;
  width: 240px;
  text-align: center;
}

.list-item > a {
  padding: 30px;
  text-decoration: none;
  color: black;
}

.list-item:hover {
  background-color: lightgray;
}
