<%- include('../partials/questions/head') %>
<body>
    <%- include('../partials/questions/header') %>
    <div class="home-title-div">
        <h1 class="home-title" >Welcome to the EJS Workshop</h1>
    </div>
    <div class="options">
        <p class="nav">Below you can select which exercises you would like to work on</p>
        <ul class="question-list">
            <li class="list-item"><a href='../question1'>Question 1</a></li>
            <li class="list-item"><a href='../question2'>Question 2</a></li>
            <li class="list-item"><a href='../question3'>Question 3</a></li>
            <li class="list-item"><a href='../question4'>Question 4</a></li>
            <li class="list-item"><a href='../question5'>Question 5</a></li>
            <li class="list-item"><a href='../question6'>Question 6</a></li>
            <li class="list-item"><a href='../question7'>Question 7</a></li>
            <li class="list-item"><a href='../question8'>Question 8</a></li>
            <li class="list-item"><a href='../question9'>Question 9</a></li>
            <li class="list-item"><a href='../question10'>Question 10</a></li>
        </ul>
    </div>

</body>